<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
     
        
         <listener class-name="com.base_pkg.org.Listeners"/>
         <listener class-name="resources.ExtentReporterNG"/>
         
        
 </listeners>

 <test thread-count="5" name="Validation_Title">
    <classes>
      <class name="com.base_pkg.org.Validation_Title"/>
    </classes>
 </test>
    
      
 <test thread-count="5" name="Validation_NavigationBar">
    <classes>
    	<class name="com.base_pkg.org.Validation_NavigationBar"/>
    </classes>
 </test>
  
<test thread-count="5" name="HomePage">
    	 <classes>
    		<class name="com.base_pkg.org.HomePage"/>
   		 </classes>
 </test> <!-- Test -->
  	
  	
</suite> <!-- Suite -->
